Repository he0119/smart-home-device, changes with the labels that .github/labeler.yml gives for each.
All labels: esp32, esp8266, ci

更新依赖
  autowatering-esp8266/autowatering-esp8266.ino
  autowatering-esp8266/dependency.md
Labels: esp8266

支持单击按钮来开启或关闭开关
  autowatering-esp8266/autowatering-esp8266.ino
  autowatering-esp8266/dependency.md
Labels: esp8266

添加编译测试
  .github/workflows/main.yml
Labels: ci

通过变量来设置编译参数
  .github/workflows/main.yml
Labels: ci

设置 board
  .github/workflows/main.yml
Labels: ci

修改路径
  .github/workflows/main.yml
Labels: ci

安装依赖
  .github/workflows/main.yml
Labels: ci

修复版本问题
  .github/workflows/main.yml
Labels: ci

调整依赖
  .github/workflows/main.yml
Labels: ci

添加测试所需文件
  .github/workflows/main.yml
  autowatering-esp8266/autowatering-esp8266.ino
Labels: esp8266, ci

修复错误
  .github/workflows/main.yml
Labels: ci

ci: 添加自动编译 (#3)
  .github/workflows/main.yml
  autowatering-esp8266/autowatering-esp8266.ino
Labels: esp8266, ci

修复编译失败的问题
  autowatering-esp8266/autowatering-esp8266.ino
Labels: esp8266

更新 CI 中的依赖
  .github/workflows/main.yml
  autowatering-esp8266/dependency.md
Labels: esp8266, ci

固定 arduino-board 版本号
  .github/workflows/main.yml
Labels: ci

将继电器抽象为一个类
  autowatering-esp8266/autowatering-esp8266.ino
Labels: esp8266

feat: 增加按钮支持 (#4)
  .github/workflows/main.yml
  autowatering-esp8266/autowatering-esp8266.ino
  autowatering-esp8266/dependency.md
Labels: esp8266, ci

删除 esp32 文件夹，并重命名 esp8266 文件夹
  .github/workflows/main.yml
  autowatering-esp32/autowatering-esp32.ino
  autowatering-esp32/config.example.h
  autowatering-esp32/dependency.md
  autowatering/autowatering.ino
  autowatering/config.example.h
  autowatering/dependency.md
Labels: esp32, ci

添加 CHANGELOG
  CHANGELOG.md
Labels: none

将继电器类独立出来
  autowatering/autowatering.ino
  autowatering/relay.cpp
  autowatering/relay.h
Labels: none

继电器打开时不需要立刻上传数据
  autowatering/autowatering.ino
  autowatering/config.example.h
  autowatering/relay.cpp
Labels: none

添加注释
  autowatering/autowatering.ino
  autowatering/relay.h
Labels: none

更新日志
  CHANGELOG.md
Labels: none

refactor: 调整目录结构，清理代码 (#5)
  .github/workflows/main.yml
  CHANGELOG.md
  autowatering-esp32/autowatering-esp32.ino
  autowatering-esp32/config.example.h
  autowatering-esp32/dependency.md
  autowatering-esp8266/config.example.h
  autowatering/autowatering.ino
  autowatering/config.example.h
  autowatering/dependency.md
  autowatering/relay.cpp
  autowatering/relay.h
Labels: esp32, esp8266, ci

chore: 上传 vscode 设置
  .gitignore
  .vscode/arduino.json
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Labels: none

chore(deps): 更新依赖
  .github/workflows/main.yml
Labels: ci

fix: 修复上传数据中有错误数据的问题
  autowatering/autowatering.ino
Labels: none

使用 DHTNEW
  .github/workflows/main.yml
  .vscode/c_cpp_properties.json
  autowatering/autowatering.ino
  autowatering/config.example.h
Labels: ci

change: 使用 DHTNEW (#7)
  .github/workflows/main.yml
  .vscode/c_cpp_properties.json
  autowatering/autowatering.ino
  autowatering/config.example.h
Labels: ci

chore: 不再上传 c_cpp_properties.json
  .gitignore
  .vscode/c_cpp_properties.json
Labels: none

change: 调整 reset 位置，不管上传是否成功均 reset 计时器
  autowatering/autowatering.ino
Labels: none

build: 调整 arduino 插件输出位置
  .vscode/arduino.json
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler
esp32:
  - autowatering-esp32/**/*
esp8266:
  - autowatering-esp8266/**/*
ci:
  - .github/**/*
